.app-header {
  background: #eaeaea;
  color: #aaa;
  font-size: 28px;
  line-height: 1;
  padding-top: 0.5em;
  padding-bottom: 0.5em;

}
.app-header-brand {
  font-weight: bold;
  display: inline-block;
}
.app-header-btn {
  float: right;
  font-size: 0.65em;
}