<div class="dice-result" data-view-subregion="results">
    <div class="dice-summary">
        <!-- dice -->
    </div>
    <dl class="dice-sum">
        <dt>Total =</dt>
        <dd class="dice-total" data-view-subregion="sum">0</dd>
    </dl>
</div>
<div class="dice-controls" data-view-subregion="controls">
    <span class="dice-action-label">throw:</span>
    <span class="dice-button" title="Throw Single Die" data-view-action="throwSingle">
        <span class="dice-indicator"><i class="icon icon-die" data-die-amt="1"></i></span>
    </span>
    <span class="dice-separator">or</span>
    <span class="dice-button" title="Throw Both Dice" data-view-action="throwBoth">
        <span class="dice-indicator"><i class="icon icon-die" data-die-amt="6"></i></span>
        <span class="dice-indicator"><i class="icon icon-die" data-die-amt="4"></i></span>
    </span>
</div>